@import "tailwindcss";

/* :root {
    --background: #ffffff;
    --foreground: #171717;
    --color-primary: #0575e6;
    --color-primary-dark: #021b79;
    --color-primary-light: #57aaff;
} */

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-primary: #0575e6;
    --color-primary-dark: #021b79;
    --color-primary-light: #57aaff;
    --color-primary-text:#000000;
    --color-secondary: #1a1a1a;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}
